{% extends 'about.html' %}

{# Base.html #}

{% set site_lang = "tr" %}

{# About.html #}

{% block what_is_title %}Labtoolkit nedir?{% endblock %}
{% block what_is %}Labtoolkit bir web sunucusunda çalışan tripan mavisi ile boyanmış hücreleri otomatik sayan bir görüntü işleme algoritmasıdır. Tripan mavisi ile hücre sayımı için kolay, ulaşılabilir ve kullanıcı dostu bir yol sağlamaktadır.{% endblock %}
{% block privacy_title %}Peki ya gizliliğim?{% endblock %}
{% block privacy %}Labtoolkit hiçbir kişisel veriyi saklamaz. Gönderilen tüm fotoğraflar işlendikten sonra silinir.{% endblock %}